* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
}

.toggle {
    position: relative;
    width: 175px;
    height: 175px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #ff7f50);
    background-size: 500%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    animation: gradient 5s linear infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.toggle span {
    position: absolute;
    width: 100px;
    height: 8px;
    background: #f5f5f5;
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-35px);
    width: 75px;
    left: 37.5px;
}

.toggle.active span:nth-child(1) {
    width: 100px;
    transform: translateY(0) rotate(45deg);
    transition-delay: 100ms;
}

.toggle span:nth-child(2) {
    transform: translateY(35px);
    width: 50px;
    left: 37.5px;
}

.toggle.active span:nth-child(2) {
    width: 100px;
    transform: translateY(0) rotate(312deg);
    transition-delay: 400ms;
}

.toggle.active span:nth-child(3) {
    transform: translateX(150px);
}
